<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title= 'Mandje')"></head>
<body>
<!--    <nav th:replace="fragments::menu"></nav>-->
    <nav th:replace="fragments::menuMetMandje"></nav>
    <h1>Mandje</h1>
    <table>
        <thead>
        <tr>
            <th>Bier</th>
            <th>Prijs</th>
            <th>Aantal</th>
            <th>te betalen</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="4" th:text="|Totaal: ${totaal}|"></td>
        </tr>
        </tfoot>
        <tbody>
        <tr th:each="mand:${mandje}" th:object="${mand}">
            <td th:text="*{bier.naam}"></td>
            <td th:text="*{bier.prijs}"></td>
            <td th:text="*{aantal}"></td>
            <td th:text="*{teBetalen}"></td>
        </tr>
        </tbody>
    </table>
    <form th:object="${bestelbon}" method="post" th:action="@{/mandje/bevestigen}">
        <label>Naam <span th:errors="*{naam}"></span>
            <input th:field="*{naam}" autofocus required></label>
        <label>Straat <span th:errors="*{straat}"></span>
            <input th:field="*{straat}" required></label>
        <label>Huisnummer <span th:errors="*{huisNr}"></span>
            <input th:field="*{huisNr}" required></label>
        <label>Postcode <span th:errors="*{postcode}"></span>
            <input th:field="*{postcode}" type="number" required min="1000" max="9999"></label>
        <label>Gemeente <span th:errors="*{gemeente}"></span>
            <input th:field="*{gemeente}" required></label>
        <input type="hidden" name="id" value="0">
        <button>Als bestelbon bevestigen</button>
    </form>
</body>
</html>